python-nmap
requests==2.31.0
beautifulsoup4==4.12.2
cryptography==41.0.7
scapy==2.5.0
paramiko==3.3.1
psutil==5.9.6
colorama==0.4.6
rich==13.7.0
pyfiglet==1.0.2
termcolor==2.3.0
schedule==1.2.0
aiohttp
websockets
pymongo
redis
elasticsearch
prometheus_client
statsd
influxdb
grafana_api
jira
slack_sdk
pymsteams
